.modal {
  padding: 18px;
}

.input {
  margin-bottom: 20px;
  width: 70%;
}

.select, .textarea {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 10px;
  width: 70%;
  margin-bottom: 20px;
  border: 1px solid #000;
}

.textarea {
  margin-bottom: 30px;

}

.select {
  background-color: unset;
}

.label {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 5px;
}
