.tasksWrapper {
  display: flex;

}

.tasks {
  width: 50%;
}

.taskText {
  background-color: #DCE0E1;
  border-radius: 10px;


  padding: 10px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tasksInfo {
  width: 50%;
  min-height: 100px;
}

.btnBlock {
  margin-bottom: 15px;
  display: flex;
  gap: 30px;
}

